body {
  margin: 0;
  padding: 0;
  font-family: 'Bubbler One', sans-serif;
  text-align: center;
  color: white;
  background-color: #1f3860;
}

h1 {
  margin-top: 60px;
}

.search-bar {
  max-width: 600px;
  margin: 60px auto;
}



.forecast {
  margin-top: 150px;
  margin-bottom: 100px;
}


@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }



}

